body {
    font-family: Helvetica;
    background-color: #dfdfdf;
    margin: 0;
    padding: 0;
  }
  
  .logo {
    width: 125px;
    height: 100px;
  }
  
  .chamonatvali {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 120px;
  }
  
  .left-side {
    display: flex;
    align-items: center;
  }
  
  .right-side {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 50px;
  }
  
  .fa-bars {
    color: white;
    font-size: 30px;
    display: none !important;
  }
  
  .HOMME {
    color: white;
  }
  
  .HOME {
    color: white;
  }
  
  .log {
    color: white;
  }
  
  .Geo {
    width: 40px;
    height: 28px;
    background-color: white;
  }
  
  .gel {
    color: white;
  }
  
  a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
  }

  
  #gsearch {
    width: 477px;
    height: 34px;
    margin-left: 20px;
    margin-top: 12px;
  }

  #submit {
    width: 33px;
    height: 34px;
    margin-top: 12px;
  }
  @media only screen and (max-width: 1450px) {
    .fa-bars {
      display: block !important;
      margin-right: 50px;
      font-size: 47px;
      margin-left: 10px;
    }
  
    .right-side {
      display: none;
    }
  }

.background{
  background-image: url(../images/wom.jpg);
  height: 558px;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 53px;
  margin: 0
}
